<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container-modal">
  <div class="cont-buttons">
    <ul>
      <li style="border-top-left-radius: 10px;">
        <i class="material-icons modifique">insert_photo</i>
      </li>

      <li>
        <i class="material-icons modifique">crop</i>
      </li>

      <li style="border-bottom:none; border-bottom-left-radius: 10px;">
        <i class="material-icons modifique">place</i>
      </li>
    </ul>
  </div>

  <div class="cont-images">
    <img class="img-product" src="assets/img/apartamento.jpg" alt="logo">
  </div>

  <div class="cont-informations">
    <div class="list-informations">
      <div class="exit"><img style="width:30px;" src="assets/img/clear.png" alt="clear"></div>
      <ul>
        <li>
          <i style="color: #1faa00;" class="material-icons altere">place</i>
          <span>Rua Cardeal Arcoverde, 2365 - Cj 52 Pinheiros, São Paulo - SP</span>
        </li>

        <li>
          <i style="color: #1faa00;" class="material-icons altere">attach_money</i>
          <span class="move">A partir de</span>
          <span>R$ 40.000,00</span>
        </li>

        <li>
          <i class="material-icons altere">texture</i>
          <span class="move">250 m²</span>
        </li>

        <li>
          <i class="material-icons altere">hotel</i>
          <span class="move">4 quartos</span>
        </li>

        <li>
          <i class="material-icons altere">directions_car</i>
          <span class="move">2 vagas</span>
        </li>

      </ul>
    </div>

    <div class="description">
      <div class="name-product">Apartamento Hypnobox</div>
      <div class="about-product">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
</div>
